@use "reset";

$base-size: 1rem;

body {
    max-width: min(80ch, 100vw - 1rem);
    margin-inline: auto;
    background-color: rgb(0, 255, 13);
    font-size: 22px;
}

nav > ul {
    font-family: 'Bungee Spice', cursive;
    display: flex;
    gap: $base-size;
    list-style: none;
    padding: 0;
}

picture > img {
    display: block;
    max-width: 100%;
    height: auto;
}